.speech {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: black;
}
.direction {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  background-color: lightgoldenrodyellow;
}
.direction:hover {
  background-color: aqua;
  color: red;
}
.nora {
  color: #6c0c1c;
}
.linde {
  color: #260ea9;
}
.nurse {
  color: #d20bf0;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #777;
  padding: 0.5rem;
  text-align: center;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
